/********************************
*         CheckBox        *
*******************************/

.rst-check-box {
    $checkbox-size: 18px;

    -fx-background-color: transparent;
    @include typeface-label-lg();

    .box {
        -fx-min-height: $checkbox-size;
        -fx-max-height: $checkbox-size;
        -fx-pref-height: $checkbox-size;
        -fx-min-width: $checkbox-size;
        -fx-max-width: $checkbox-size;
        -fx-pref-width: $checkbox-size;
        -fx-background-color: transparent;
        -fx-border-color: $color-on-surface-variant;
        -fx-border-width: 2px;
        @include shape-all(2px);
    }

    &:disabled {
        -fx-text-fill: rgba($color-on-surface, 0.38);
        .box {
            -fx-border-color: rgba($color-on-surface, 0.38);
        }
    }

    &:selected,
    &:indeterminate {
        .box {
            -fx-background-color: $color-primary;
            -fx-border-color: transparent;
            -fx-border-width: 0;

            .mark {
                -fx-background-color: $color-on-primary;
            }
        }

        &:disabled {
            .box {
                -fx-background-color: rgba($color-primary, 0.38);
            }
        }
    }

    &:error {
        -fx-text-fill: $color-error;

        .box {
            -fx-border-color: $color-error;
        }

        &:disabled {
            -fx-text-fill: rgba($color-on-surface, 0.38);
            .box {
                -fx-border-color: rgba($color-on-surface, 0.38);
            }
        }

        &:indeterminate,
        &:selected {
            .box {
                -fx-background-color: $color-error;
                .mark {
                    -fx-background-color: $color-on-error;
                }
            }

            &:disabled {
                .box {
                    -fx-background-color: rgba($color-primary, 0.38);
                }
            }
        }
    }
}

/********************************
*         RadioButton          *
*******************************/

.rst-radio-button {
    $radio-size: 18px;
    $dot-size: 8px;

    -fx-background-color: transparent;
    @include typeface-label-lg();

    .radio {
        -fx-min-height: $radio-size;
        -fx-max-height: $radio-size;
        -fx-pref-height: $radio-size;
        -fx-min-width: $radio-size;
        -fx-max-width: $radio-size;
        -fx-pref-width: $radio-size;
        -fx-background-color: transparent;
        -fx-border-color: $color-on-surface-variant;
        -fx-border-width: 2px;
        @include shape-full();
    }

    &:disabled {
        -fx-text-fill: rgba($color-on-surface, 0.38);
        .radio {
            -fx-border-color: rgba($color-on-surface, 0.38);
        }
    }

    &:selected {
        .radio {
            -fx-border-color: $color-primary;
            -fx-padding: 0 0 2px 0;
            .dot {
                -fx-background-color: $color-primary;
                -fx-max-width: $dot-size;
                -fx-max-height: $dot-size;
            }
        }
        &:disabled {
            .radio {
                -fx-border-color: rgba($color-primary, 0.38);
                .dot {
                    -fx-background-color: rgba($color-primary, 0.38);
                }
            }
        }
    }

    &:error {
        -fx-text-fill: $color-error;
        .radio {
            -fx-border-color: $color-error;
        }

        &:disabled {
            -fx-text-fill: rgba($color-on-surface, 0.38);
            .radio {
                -fx-border-color: rgba($color-on-surface, 0.38);
            }
        }

        &:selected {
            .radio {
                -fx-border-color: $color-error;
                -fx-padding: 0 0 2px 0;
                .dot {
                    -fx-background-color: $color-error;
                    -fx-max-width: $dot-size;
                    -fx-max-height: $dot-size;
                }
            }
            &:disabled {
                .radio {
                    -fx-border-color: rgba($color-primary, 0.38);
                    .dot {
                        -fx-background-color: rgba($color-primary, 0.38);
                    }
                }
            }
        }
    }
}

/********************************
*         Choice Button        *
*******************************/

.rst-choice-button {
    @extend .rst-tonal-button;
    @include shape-sm();
    -fx-text-fill: $color-on-secondary-container;

    &:disabled {
        -fx-background-color: rgba($color-on-surface, 0.04);
    }

    &:selected {
        -fx-background-color: $color-on-secondary-container, $color-secondary-container;
        -fx-background-insets: 0, 2;

        &:disabled {
            -fx-background-color: rgba($color-on-surface, 0.04);
            -fx-border-color: rgba($color-on-surface, 0.38);
            -fx-border-width: 2px;
        }
    }

    &:hover {
        @include elevate(0);
    }
}
