$color-primary: rgb(48 70 138);
$color-surface-tint: rgb(70 91 161);
$color-on-primary: rgb(255 255 255);
$color-primary-container: rgb(86 106 178);
$color-on-primary-container: rgb(255 255 255);
$color-secondary: rgb(86 93 122);
$color-on-secondary: rgb(255 255 255);
$color-secondary-container: rgb(219 224 255);
$color-on-secondary-container: rgb(63 70 98);
$color-error: rgb(186 26 26);
$color-on-error: rgb(255 255 255);
$color-error-container: rgb(255 218 214);
$color-on-error-container: rgb(65 0 2);
$color-background: rgb(250 248 255);
$color-on-background: rgb(26 27 32);
$color-surface: rgb(250 248 255);
$color-on-surface: rgb(26 27 32);
$color-surface-variant: rgb(225 225 238);
$color-on-surface-variant: rgb(68 70 80);
$color-outline: rgb(117 118 130);
$color-outline-variant: rgb(197 197 210);
$color-shadow: rgb(0 0 0);
$color-scrim: rgb(0 0 0);
$color-inverse-surface: rgb(47 48 53);
$color-inverse-on-surface: rgb(242 240 246);
$color-inverse-primary: rgb(181 196 255);
$color-primary-fixed: rgb(220 225 255);
$color-on-primary-fixed: rgb(0 22 78);
$color-primary-fixed-dim: rgb(181 196 255);
$color-on-primary-fixed-variant: rgb(44 66 135);
$color-secondary-fixed: rgb(220 225 255);
$color-on-secondary-fixed: rgb(19 26 52);
$color-secondary-fixed-dim: rgb(190 197 231);
$color-on-secondary-fixed-variant: rgb(62 70 97);
$color-surface-dim: rgb(219 217 224);
$color-surface-bright: rgb(250 248 255);
$color-surface-container-lowest: rgb(255 255 255);
$color-surface-container-low: rgb(244 243 249);
$color-surface-container: rgb(239 237 244);
$color-surface-container-high: rgb(233 231 238);
$color-surface-container-highest: rgb(227 225 232);

$alpha-surface-hover: 0.08;
$alpha-surface-disabled: 0.04;
$alpha-surface-armed: 0.1;

$alpha-text-disabled: 0.38;