$outline-width: 1px;

$outline-width-focused: 2px;

$text-field-container-height: 40px;

$text-field-container-padding-horizontal: 8px;

$text-field-height: 36px;

$text-field-icon-size: 24px;

$text-field-icon-text-gap: 12px;

$button-size: 40px;

$button-icon-size: 18px;

$icon-button-icon-size: 24px;

$button-icon-text-gap: 8px;